@model mojPsihologApp.Models.DavaOcenka

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DavaOcenka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOcenkaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOcenkaNavigation.IdOcenka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorisnickoimepacientNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorisnickoimepacientNavigation.Korisnickoime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorisnickoimepsihologNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorisnickoimepsihologNavigation.Korisnickoime)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
