@model IEnumerable<mojPsihologApp.Models.Termin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (ViewBag.uloga == "psiholog")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KorisnickoimeNavigation.Korisnickoime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnickoimeNavigation.KorisnickoimeNavigation.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnickoimeNavigation.KorisnickoimeNavigation.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vreme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnickoimeNavigation.Korisnickoime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnickoimeNavigation.KorisnickoimeNavigation.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnickoimeNavigation.KorisnickoimeNavigation.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vreme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTermin">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTermin">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTermin">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
