@model IEnumerable<mojPsihologApp.Models.Termin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (ViewBag.uloga == "psiholog")
{
    <p>
        <a asp-action="Create">Create New</a>
        <a asp-action="terminiTekovenMesecIGodinaGradPrilepOdPocekeodCasI40">terminiTekovenMesecIGodinaGradPrilepOdPocekeodCasI40</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTermin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnickoimeNavigation.Korisnickoime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnickoimeNavigation.KorisnickoimeNavigation.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnickoimeNavigation.KorisnickoimeNavigation.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vreme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTermin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KorisnickoimeNavigation.Korisnickoime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KorisnickoimeNavigation.KorisnickoimeNavigation.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KorisnickoimeNavigation.KorisnickoimeNavigation.Prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vreme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                @if (ViewBag.uloga == "pacient")
                {
                    <td>
                        <form asp-action="Create" asp-controller="PacientotZakazuvaTermins" method="post">
                            <input type="hidden" aspro >
                            @Html.HiddenFor(modelItem => item.IdTermin)
                            <input type="submit" value="Закажи" />
                        </form>
                    </td>
                }
                @if (ViewBag.uloga == "psiholog")
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdTermin">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdTermin">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdTermin">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>































